* {
    margin:0;
    padding:0;
  }
  


  body {
    background-color:#1f1f1f;
    font-family: 'Raleway', sans-serif;
  }

  #container {
    position:auto;
    width:80%;
    margin:1%;
    background-color:#1f1f1f;
  }
  #container > nav {
    width:100%;
    display:flex;
    max-height:60px;
  }
  #container > nav > h1{
    margin-top: 23px;
    margin-left: -150px;
    font-size: medium;
  }

  #logo {
    line-height:60px;
    font-size:30px;
    padding: 0px;
    color: white;
    width:40%;
    letter-spacing:2px;
  }
  #container > nav > ul {
    margin:0;
    padding:0;
    list-style-type:none;
    display:flex;
    position:absolute;
      right:50px;
  /*   min-width:60%; */
  }
  #container > nav > ul > li {
    line-height:60px;
    margin: 0 0px;
    padding:0;
    text-align:center;
    display:inline-block;
    
  /*   background-color:green; */
    min-width:120px;
  
  } 
  #container > nav > ul > li > a {
    position:relative;
  /*   background-color:red; */
    margin: 0 20px;
      color:white;
  }
  #container > nav > ul > li:hover {
    border-bottom: 2px solid rgb(0, 0, 0);
    background-color: #777777;
  }
  #container > nav > ul > .dropdown:hover {
    border-bottom:none;
  }
  #container > nav > ul > .dropdown:hover >  .dd
  {
    display:block;
  }
  .dropdown:hover > a .fa-caret-down {
    display:none;
  }
  a {
    text-decoration:none;
  
  }
  
  #container > nav > ul > li > div {
    position:absolute;
    padding: 0 10px;
    
    background-color:black;
    display:none;
    background-color:aliceblue;
    min-width:100px;
  }
  
  #container > nav > ul > li > div > ul {
    margin:0px 0 10px 0;
    padding:0;
    list-style:none;
  }
  #u_a_c {
    position:relative;
    width:100%;
  /*   background-color:red; */
  }
  #up_arrow {
    position:relative;
    width:20px;
    height:20px;
    left:42%;
    top:-10px;
    background-color:aliceblue;
    transform:rotate(45deg);
  }
  #container > nav > ul > li> div > ul > li:hover {
    background-color:rgba(0,0,0,0.2);
  }
  #container > nav > ul > li > div > ul > li > a {
    padding : 5px;
      color:black;
  }

  .img-thumbnail {
    padding: 0.25rem;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
    max-width: 100%;
    height: auto;
  }

  .shadow-sm {
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075) !important;
}

.mb-4, .my-4 {
  margin-bottom: 1.5rem !important;
}

  .card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.card-text{
  color: black;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

  .col-md-4 {
    position: relative;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
    position: auto;
    width: 100%;
    padding-top: 30px;
    
}


.Content > p{
  text-align: center;
  box-sizing: border-box;
  margin-top: 30px;
  margin-bottom: 1rem;
  font-size: 2.5rem;
  font-weight: 300;
  padding-left: 250px;
  padding-right: 250px;
}

.Content > .Description{
  color: aliceblue;
}




